@charset "utf-8";

/* index.css */

/* header ************************************************ */

header {
    width: 100%;
    height: 100px;
    padding: 20px 0;

    background-color: #fff;
    box-shadow: 0px 0px 10px #cfcfcf;
    box-sizing: border-box;

    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
}

header .inner {
    position: relative; 
    /* .gnb 의 기준 */
}

header .logo {
    /* outline: 2px solid crimson; */
    float: left;
}

header .logo img {
    height: 50px;
    margin-top: 5px;
    display: block;
}

/* 모바일 메뉴 *********************************************/

header .m-menu {
    display: none;
}

header .gnb {
    /* outline: 2px solid rgb(20, 220, 157); */
    float: left;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

header .gnb ul li {
    margin: 0 24px;
}

header .gnb ul li a {
    font-size: 20px;
    font-size: 1.25rem;
    color: #333;
    font-family: "PT Serif", serif;
    line-height: 60px;
}

header .gnb ul li a:hover {
    color: crimson;
    transform: scale(1.1);
    /* font-weight: 600; */
}

header .sns {
   /*  outline: 2px solid rgb(200, 20, 220); */
    float: right;

    position: absolute;
    top: -17%;
    right: 0%;
}

header .sns a {
    display: inline-block;
}

header .sns a img {
    height: 60px;
    margin-top: 5px;
    display: block;
}

section {
    margin-top: 100px;
}

section > article {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    /* outline: 1px solid crimson; */
}

/* article 1. Intro ************************************* */

article.intro {
    height: 550px;
    background: url(../images/rb_logo.png) no-repeat right bottom/auto 500px;

    position: relative; /* .txt-box & .btn의 기준 */
    margin-bottom: 100px;
}

article.intro .txt-box {
    width: 40%;

    position: absolute;
    top: 80px;
}

article.intro .btn {
    position: absolute;
    bottom: 25%;

    color: #e64461;
}

article.intro .btn:hover {
    border-color: #e64461;
    background-color: #e64461;
    color: #fff;
}

article.intro .txt-box p {
    font-family: "PT Serif", serif;
}

article.intro .txt-box p.des-en {
    font-size: 22.4px;
    font-size: 1.4rem;
    color: darkgray;
    margin-bottom: 30px;
}

article.intro .txt-box p.des-ko {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 19.2px;
    font-size: 1.2rem;
    word-break: keep-all;
}


/* article 2. Works ************************************** */

article.works {
    margin-bottom: 100px;
}

article.works .img-box-wrap .img-box {
    /* outline: 2px solid darkblue; */
    width: 23.5%;
    float: left;
    margin-bottom: 2%;

    overflow: hidden;
}

article.works .img-box-wrap .img-box~.img-box {
    margin-left: 2%;
}

article.works .img-box-wrap .img-box:nth-child(4n+1) {
   
    /* 
        nth-child 이용해서 정렬하기
        이미지 x4 (+margin 2%씩) 다음 이미지 선택 (4n+1)
        5,9,13,17,21...
    */
    margin-left: 0;
}

article.works .img-box-wrap .img-box img {
    width: 100%;
    display: block;

    transition: all 0.7s; 
    transition: all 0.7s; 
    transition: all 0.7s; 
    /* 
    img 자체의 디자인이 변경되는 것이므로 
    .img-box가 아닌 img에 적용할 것
    */
}

article.works .img-box-wrap .img-box:hover img {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

/* article 3. About ************************************** */

.about {
    margin-bottom: 100px;
    text-align: center;
    background-image: url(../images/people_01-1.png);
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 200px;
}

.about p {
    width: 50%;
    font-size: 20px;
    font-size: 1.25rem;
    margin: 0 auto 40px;
}

.about .btn {
    color: darkblue;
}

.about .btn:hover {
    color: white;
    border-color: darkblue;
    background-color: darkblue;
}


/* article 4. News ************************************** */

.news sec-tit {
    font-weight: 700;
    margin-bottom: 0;
}

.news > p {
    font-size: 20px;
    font-size: 1.25rem;
    margin-bottom: 30px;
}

.news .box-wrap{
    width: 100%;
}

.news .box-wrap .box{
    width: 32%;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    float: left;
}

.news .box-wrap .box:hover {
    outline: 3px solid darkolivegreen;
}

.news .box-wrap .box~.box {
    margin-left: 2%;
}

.news .box-wrap .box img{
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.news .box-wrap .box .title {
    font-size: 18px;
    font-size: 1.125rem;
    padding: 0 10px;
    margin-bottom: 6px;
    height: 52px;
}

.news .box-wrap .box .title a {
    color: #333;
}

.news .box-wrap .box .title a:hover {
    color:darkgreen;
    text-decoration: underline;
}

/*
    더보기 "..." 생성하기
    .news .box-wrap .box .title a {
    height: 52px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} */

.news .box-wrap .box .date{
    padding: 0 10px;
    color: darkgray;
    margin-bottom: 10px;
}

/* contact ************************************** */

section.contact {
    width: 100%;
    max-width: 1920px;
    
    background-image: url(../images/rb-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    padding: 100px 0 160px;
    margin: 100px auto 0;
}

section.contact .sec-tit {
    font-size: 48px;
    font-size: 3rem;
    font-weight: 700;
    color: white;
   
}

section.contact p {
    font-size: 24px;
    font-size: 1.5rem;
    margin-bottom: 60px;
    color: white;
}

section.contact .btn {
    color: white;
}

section.contact .btn:hover {
    background-color: #fff;
    border-color: white;
    /* 
        border-color 없이 bgcolor만 적용하면
        크기가 미묘하게 달라짐, 크기 변화를 없앰
    */
    color: #333;
}

/* footer ******************************************** */

footer {
    padding: 60px 0;
    background-color: #fff;

    position: relative;
}

footer .inner .footer-box {
    /* outline: 2px solid crimson; */
    width: 33.3%;
    float: left;
}

footer .inner .footer-box h4 {
    font-size: 18px;
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

footer .inner .footer-box p {
    color: #999;
}

footer .top {
    position: absolute;
    right: 5%;
    bottom: 100px;
}

footer .top img {
    display: block;
}